<div class="jumbotron">
  <h1 class="display-3">Welcome to NAVER CAMPUS HACKDAY!</h1>
  <p class="lead"> Audio Section Share.</p>
  <hr class="my-4">
  <p>URL을 이용해 불러오거나 본 서버에 저장된 파일을 불러와서 이용가능.</p>
  <hr class="my-4">
  <p class="lead">
    <a href="/linked"><button type="button" class="btn btn-primary btn-lg">LINKED FILE</button></a>
    <a href="/linked"><button type="button" class="btn btn-secondary btn-lg">SAVED FILE</button></a>
  </p>
</div>